<!DOCTYPE HTML>
{% set now = datetime.datetime.now().strftime('%FT%T') %}
<html>
  <head lang="jp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ title }}: {{ version }}</title>

    <link rel="icon" href="{{ static_url('favicon.ico') }}">

    <link rel="stylesheet"
          href="{{ static_url('vendor/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ static_url('vendor/fontawesome/css/all.css') }}">

    <link rel="stylesheet" href="{{ static_url('css/my.css') }}">

    <script>
     const url_prefix = '{{url_prefix}}';
    </script>
    <script type="text/javascript"
            src="{{ static_url('js/my.js') }}"></script>
  </head>
  <body>
    {% autoescape None %}
    {% block content %}
    {% end %}
  </body>
</html>
