{# ボタンメニュー。編集画面の上下に include される (TODO-177)。
   new_flag / date / static_url は呼び出し元の名前空間から来る #}

<!-- ボタンを一定間隔で中央に並べる (TODO-101)。数が 4 つ (新規) と
     5 つ (既存) で変わり、12 列の Grid では割り切れない -->
<div class="my-edit-menu">

  <!-- 保存しないで週表示へ戻る (TODO-065)。``history.back()`` では、
       更新 (``cmd=update``) のあとに編集画面へリダイレクトして
       留まるぶん、ひとつ前の編集画面へ戻ってしまう -->
  <div class="my-btn" data-action="back" data-date="{{ date }}">
    <svg class="my-icon my-icon-2x">
      <use href="{{ static_url('icons/icons.svg') }}#reply"></use>
    </svg>
  </div>

  <div class="my-btn" data-action="submit-cmd" data-cmd="update">
    <svg class="my-icon my-icon-2x">
      <use href="{{ static_url('icons/icons.svg') }}#sync"></use>
    </svg>
  </div>

  <div class="my-btn" data-action="submit-cmd" data-cmd="fix">
    <svg class="my-icon my-icon-2x">
      <use href="{{ static_url('icons/icons.svg') }}#check-square"></use>
    </svg>
  </div>

  {% if not new_flag %}
  <div class="my-btn" data-action="submit-cmd" data-cmd="add">
    <svg class="my-icon my-icon-2x">
      <use href="{{ static_url('icons/icons.svg') }}#clone"></use>
    </svg>
  </div>
  {% end %}

  <div class="my-btn" data-action="submit-cmd" data-cmd="del">
    <svg class="my-icon my-icon-2x">
      <use href="{{ static_url('icons/icons.svg') }}#trash"></use>
    </svg>
  </div>

</div><!-- my-edit-menu -->
