{# -*- engine: tornado -*- #}
{# main.html から受け取る変数 (この 5 個は宣言なしで使う):
   {% include %} は名前空間を親と共有するので、main.html 側で
   {% set %} された変数がそのまま見える。ここで {% set %} し直さ
   ないため、main.html 側で {% set %} の位置を動かすと黙って壊れる。
     sde         -- 予定 1 件 (main.html の {% for sde in sched_ent.sde %})
     sched_date  -- いま描いている日 (sched_ent.date)
     today_flag  -- sched_date が今日かどうか (チェックボックスの id に使う)
     today       -- datetime.date.today() (sde.todo_urgency(today) に渡す)
     url_prefix  -- 編集画面の URL を組み立てる
#}
<!--
     {% set url = url_prefix + 'edit/' %}

     {% set class_bg = 'my-sde-normal' %}
     {% if sde.is_holiday() %}
     {% set class_bg = 'my-sde-holiday' %}
     {% end %}

     {% set sw_id = 'sw%s-%s' % (sde.sde_id, today_flag) %}

     {% if sde.is_todo() %}
     {% set class_bg = 'my-sde-todo' %}
     {% set _urgency = sde.todo_urgency(today) %}
     {% if _urgency %}
     {% set class_bg = 'my-sde-todo-' + _urgency %}
     {% end %}
     {% end %}

     {% set time_start = '' %}
     {% if sde.time_start %}
     {% set time_start = sde.time_start.strftime('%H:%M') %}
     {% end %}

     {% set time_end = '' %}
     {% if sde.time_end %}
     {% set time_end = '-' + sde.time_end.strftime('%H:%M') %}
     {% end %}

     {% set sde_type = '' %}
     {% if sde.type %}
     {% if sde.is_todo() %}
     {% if len(sde.type) > 1 %}
     {% set sde_type = '[' + sde.type[1:] + ']' %}
     {% end %}
     {% else %}
     {% set sde_type = '[' + sde.type + ']' %}
     {% end %}
     {% end %}

     {% set sde_title = '__' %}
     {% if sde.title %}
     {% set sde_title = sde.title %}
     {% end %}

     {% set detail = sde.detail.rstrip('\n') %}

     取り消し線は、時刻の欄・本文の欄・詳細の欄の 3 か所に付ける。
     いちばん外側に付けると、ToDo の □ にも線が入ってしまう。
     {% set class_canceled = '' %}
     {% set class_canceled_items = '' %}
     {% if sde.is_canceled() %}
     {% set class_canceled = 'my-canceled' %}
     {% set class_canceled_items = 'my-canceled-items' %}
     {% end %}

-->
<div class="container-fluid p-0 border my-sde {{ class_bg }}">
  <div class="row m-0">
    {% if not sde.is_todo() %}
    <div class="col-1 p-0 text-start my-sde-time {{ class_canceled }}">
      
      {{ time_start }}<br/>{{ time_end }}
      
    </div>
    {% else %}
    <div class="col-1 p-1 text-center">
      <svg class="my-icon my-sde-check">
        <use href="{{ static_url('icons/icons.svg') }}#square"></use>
      </svg>
    </div>
    {% end %}<!-- if not todo -->
    <!-- 編集画面の ``orig_date`` は ``EditHandler`` が決めるので、
         ここからは送らない (TODO-034) -->
    <div class="col-11 p-0 my-btn {{ class_canceled_items }}"
      onmousedown="doGet('{{ url }}',
                {
                date:'{{ sched_date }}',
                sde_id: '{{ sde.sde_id }}',
                todo_flag: {{ str(sde.is_todo()).lower() }},
                });">
      {% if sde.is_todo() %}
      {% if sde.date != sched_date %}
      {% set sde_date = str(sde.date).replace('-', '/') %}
      <span class="my-sde-sub">

        {{ sde_date[0:4] }}<br />{{ sde_date[5:] }}
        
      </span>
      {% end %}

      <span class="my-sde-sub">
        
        {{ time_start }}<br />{{ time_end }}

      </span>
      {% end %}

      {% set class_important = '' %}
      {% if sde.is_important() %}
      {% set class_important = 'fw-bold' %}
      {% end %}


      <span class="my-sde-type {{ class_important }}">
        {{ sde_type }}
      </span>


      
      <span class="my-sde-title {{ class_important }}">

        {{ sde_title }}

      </span>

      {% if sde.place %}

      <span class="my-sde-place">

        @{{ sde.place }}

      </span>
      {% end %}
      
    </div>
  </div>
  {% if detail %}
  <div class="row m-0">
    <input id="{{ sw_id }}"
      type="checkbox"
      class="longtext-sw d-none">
    <div class="col-1 p-0 m-0 text-center my-btn longtext-sw-label
                my-sde-detail-sw">
      <label for="{{ sw_id }}">
        <svg class="my-icon my-icon-lg">
          <use href="{{ static_url('icons/icons.svg') }}#angle-down"></use>
        </svg>
      </label>
    </div>
    <!-- 開いたときの ``.longtext`` は ``white-space: pre-wrap`` なので、
         タグとの間の改行やインデントもそのまま見える。前後に空行を
         作らないよう、``{{ detail }}`` を開始タグ・終了タグに詰めて
         置いている (TODO-045)。 -->
    <div class="col-11 p-0 longtext my-sde-detail {{ class_canceled }}"
      tabindex="0">{{ detail }}</div>
  </div>
  {% end %}
</div><!-- container -->
